h2{
    color: #f0a210;
  }

  h3 {
    font-family: ariel;
    color: #07bd07;
  }

  #OMG {
    font-family: ariel;
    font-size: large;
    color: #f14aba;
  }

  .c1 {
    font-family: ariel;
  }

  .c2 {
      color: #1070ca;
    }